@font-face {
  font-family: 'TradeGothic';
  src: url('../font/Trade_Gothic_LT_Bold_Condensed_20.ttf');
}
.jumbotron {
    background-color: #EA5B54;
    color: #f8f8f8;
}
.jumbotron h1 {
    font-family: 'TradeGothic';
    margin-top: 25px;
}
.jumbotron > .container > * {
    margin-left: 30px;
}
body {
	background: url(/images/grey.png);
	font-family: Sans-Serif;
}

canvas {
	border: 2px solid #EEE;
}
.well {
	background-color: rgba(255, 255, 255, 0.7);
}