.jumbotron {
    background-color: #EA5B54;
    color: #333;
    border-bottom: 10px solid #333;
}
.jumbotron h1 {
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px;
    font-size: 80px;
    line-height: 70px;
    float: left;
}
.bigbtn {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}
.jumbotron > .container > * {
    margin-left: 30px;
}
.bigbtn i {
  margin: 10px;
  line-height: 40px;
}
.bigbtn i::before {
  font-size: 40px;
  margin-top: 20px;
}

.login {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login .well {
  color: #eee;
  background-color: #333;
  padding-bottom: 30px;
}
.login .lead {
  margin-bottom: 40px;
  font-size: 30px;
}
.login .instructions {
  font-size: 16px;
  margin-bottom: 0px;
}
input.input-label {
  margin: 1px 0 0 0;
  padding: 0px;
  height: 18px;
  width: 100px;
}
.button-label {
  margin: 1px 0px 0px -1px;
  padding: 0px 5px;
  height: 20px;
}

body {
	background: url(/images/grey.png);
}

canvas {
	border: 2px solid #EEE;
}
.well {
	background-color: rgba(255, 255, 255, 0.7);
}