<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/font-awesome.css">
        <link rel="stylesheet" href="styles/main.css">
        <script src="scripts/vendor/modernizr.min.js"></script>
    </head>
    <body>


        <script type="text/template" id="api_template">
            <span>Api Id:</span>
            <input class="input-block-level" type="text" readonly="readonly" value="<%= id %>"></input>
            <span>Api Secret: </span>
            <input class="input-block-level" type="text" readonly="readonly" value="<%= secret %>"></input>
            <span>Examples:</span>
            <pre class="curl">curl -X POST 'http://api.todium.com'  \<br>    -d 'id=<%= id %>'  \<br>    -d 'secret=<%= secret %>'  \<br>    -d 'src=http://www.clearbits.net/get/547-home-2009.torrent'<br><br><span>> http://torrent.todium.com/-Ipf63TQ8PIhXXRNM5md.torrent</span></pre>
            <pre class="curl">curl -X POST 'http://api.todium.com'  \<br>    -d 'id=<%= id %>'  \<br>    -d 'secret=<%= secret %>'  \<br>    -d 'src=magnet:?xt=urn:btih:54DEC3E7B1169FAD5587D5A9E30FAFA92097EAB7&dn=Big+Buck+Bunny'<br><br><span>> magnet:?xt=urn:btih:54DEC3E7B1169FAD5587D5A9E30FAFA92097EAB7&tr=http://tracker.todium.com/-Ipf7-4f0v_ThSId5rdg/announce</span></pre>
            <pre class="curl">curl -X POST 'http://api.todium.com/tracker'  \<br>    -d 'id=<%= id %>'  \<br>    -d 'secret=<%= secret %>'  \<br>    -d 'src=54DEC3E7B1169FAD5587D5A9E30FAFA92097EAB7'<br><br><span>> http://tracker.todium.com/-Ipf7-4f0v_ThSId5rdg/announce</span></pre>



        </script>

        <script type="text/template" id="app_template">
            <header class="jumbotron subhead row" id="overview">
                <div class="container">
                    <h1>
                        <span>Todium</span>
                    </h1>
                    <span class="logout" style="float:right"></span>
                </div>
            </header>
            <div class="container login" style="margin-top:50px; min-height:500px"></div>
            <div class="container user"></div>
        </script>

        <script type="text/template" id="campaign_template">
            <div class="well">
                <h1>
                    <span><%= name %></span>
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                        <button type="button" class="btn medbtn stats active" title="analytics"><i class="icon-signal"></i></button>
                        <button type="button" class="btn medbtn owners" title="campaign followers"><i class="icon-user"></i></button>
                        <button type="button" class="btn medbtn api" title="api info"><i class="icon-qrcode"></i></button>
                        <button type="button" class="btn medbtn trackers" title="torrents"><i class="icon-magnet"></i></button>
                    </div>
                </h1>
                <br>
                <div class="stats well"></div>
                <div class="owners well"></div>
                <div class="api well"></div>
                <div class="trackers well"></div>
            </div>
            <br>
        </script>

        <script type="text/template" id="login_template">
            <p class="lead">Simple analytics for torrents.</p>
            <div class="well signup_well">
                <p class="instructions">Sign up to create links:</p><br>
                <form class="signup_form">
                    <input type="text" class="input-block-level email" placeholder="Email">
                    <input type="password" class="input-block-level password1" placeholder="Password">
                    <input type="password" class="input-block-level password2" placeholder="Password again">
                    <button type="submit" class="btn">Sign up</button>
                </form>
            </div>
            <div class="well login_well">
                <p class="instructions">Login to create links:</p><br>
                <form class="login_form">
                    <input type="text" class="input-block-level email" placeholder="Email">
                    <input type="password" class="input-block-level password" placeholder="Password">
                    <button type="submit" class="btn">Log in</button>
                </form>
            </div>
        </script>

        <script type="text/template" id="logout_template">
            <button class="btn bigbtn logout" type="button"><i class="icon-off"></i></button>
        </script>

        <script type="text/template" id="owner_template">
            <img data-html="true" data-title="Email: <%= email %><br>Joined: <%= joined %><br>Last Visited: <%= visited %>" src="<%= image %>" data-toggle="tooltip"/>
        </script>

        <script type="text/template" id="owners_template">
            <div>Campaign Owners: </div>
            <div class="owners"></div>
            <br><br>
            <form class="form-inline">
                <input type="text" class="input-large" placeholder="Add Owner">
                <button type="submit" class="btn"><i class="icon-plus"></i></button>
            </form>
        </script>

        <script type="text/template" id="granular_template">
            <h3>Campaign Events</h3>
            <div style="color:#E2EAE9;">Started - <%= started %></div>
            <div style="color:#F7464A;">Stopped - <%= stopped %></div>
            <div style="color:#4D5360;">Completed - <%= completed %></div>
            <canvas class="ratio"></canvas>

            <h3>Shares Per Torrent</h3>
            <div class="sharesper"></div>
        </script>

        <script type="text/template" id="sharesper_template">
        </script>

        <script type="text/template" id="horizon_template">
            <svg title="<%= info_hash %>" class="completed"><g><title><%= info_hash %></title></g></svg><span class="count pull-right"></span>
        </script>

        <script type="text/template" id="stats_template">
            <h3>Campaign Overview</h3>
            <div class="tally"></div>
            <div class="granular"></div>
            <h3>Popularity comparisons</h3>
            <div class="horizons"></div>
        </script>

        <script type="text/template" id="tally_template">
            <div class="torrents">Torrents: <%= torrents %></div>
            <div class="downloads">Downloads: <%= downloads %></div>
            <div class="transferred">Transferred: <%= transferred %></div>
        </script>

        <script type="text/template" id="tracker_template">
            <span class="label">Added: <%= time %></span>
            <span class="src">Info hash: <%= info_hash %></span>
            <input class="input-block-level shorty" type="text" url="<%= url %>" readonly="readonly" value="<%= url %>"></input>
        </script>

        <script type="text/template" id="trackers_template">
            <div class="trackers"></div>
            <br>
            <form>
                <input class="input-block-level createTorrentLink" type="text" placeholder="http://XXXXXX.com/XXXXXX.torrent    /    magnet:?xt=urn:btih:XXXXXX    /    XXXXXXXXXXXX"></input>
                <button class="btn btn-large btn-block btn-inverse addTracker" type="submit">Create Link</button>
            </form>
        </script>

        <script type="text/template" id="user_template">
            <div class="campaigns"></div>
            <br>
            <br>
            <form class="well">
                <input class="input-block-level campaignName" type="text" placeholder="Campaign Name"></input>
                <button class="btn btn-large btn-block btn-inverse addCampaign" type="submit">Create Campaign</button>
            </form>
            <br>
        </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>')</script>
        <script src="scripts/components/underscore/underscore-min.js"></script>
        <script src="scripts/components/backbone/backbone-min.js"></script>
        <script src="scripts/components/Humane-Dates/humane.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <script data-main="scripts/amd-app" src="scripts/vendor/require.js"></script>
    </body>
</html>