<script type="text/template" id="login_template">
    <p class="lead">Simple analytics for torrents.</p>
    <div class="well signup_well">
        <p class="instructions">Sign up to create links:</p><br>
        <div class="form-inline signup_form">
            <div>
                <input type="text" class="input-block-level email" placeholder="Email">
            </div>
            <br>
            <div>
                <input type="password" class="input-block-level password1" placeholder="Password">
            </div>
            <br>
            <div>
                <input type="password" class="input-block-level password2" placeholder="Password again">
            </div>
            <br>
            <div>
                <button class="btn">Sign up</button>
            </div>
        </div>
    </div>
    <div class="well login_well">
        <p class="instructions">Login to create links:</p><br>
        <div class="form-inline login_form">
            <div>
                <input type="text" class="input-block-level email" placeholder="Email">
            </div>
            <br>
            <div>
                <input type="password" class="input-block-level password" placeholder="Password">
            </div>
            <br>
            <div>
                <button class="btn">Log in</button>
            </div>
        </div>
    </div>
</script>